*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);
  color: var(--grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 24px;
  width: 320px;
  height: 497px;
  text-align: center;
}

.card > div {
  padding-inline: 1rem;
}

.card__image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
}

.card__heading {
  font-size: 22px;
  font-weight: 700;
  line-height: auto;
  color: var(--dark-blue);
  margin-bottom: 16px;
}

.card__body {
  font-size: 15px;
  font-weight: 400;
  line-height: auto;
  color: var(--grayish-blue);
}
